In [12]:
import sqlite3

conn = sqlite3.connect('ITS.db')
print("Databse connection successfully opened")

conn.execute('''CREATE TABLE IF NOT EXISTS "Vehicle"(
  "VehicleID" INTEGER NOT NULL,
  "RegistrationID" VARCHAR NOT NULL,
  "Manufacturer" VARCHAR NOT NULL,
  "Model" VARCHAR NOT NULL,
  "Color" VARCHAR NOT NULL,
  "CurrentOdometer" INT NOT NULL,
  "PassengerCapacity" INT NOT NULL,
  "Avalaible" BOOLEAN NOT NULL,
  PRIMARY KEY("VehicleID")
);''')

print("Table Vehicle succesfully created")

conn.execute('''CREATE TABLE IF NOT EXISTS "Language"(
  "LanguageCode" CHAR(2) NOT NULL,
  "LanguageName" VARCHAR NOT NULL,
  PRIMARY KEY("LanguageCode")
);''')

print("Table Language succesfully created")

conn.execute('''CREATE TABLE IF NOT EXISTS "Country"(
  "CountryCode" CHAR(2) NOT NULL,
  "CountryName" VARCHAR NOT NULL,
  "MostFrequentlySpokenLanguage" CHAR(2) NOT NULL,
  PRIMARY KEY("CountryCode"),
  CONSTRAINT "Language_Country"
    FOREIGN KEY ("MostFrequentlySpokenLanguage")
      REFERENCES "Language" ("LanguageCode")
);''')

print("Table Country succesfully created")

conn.execute('''CREATE TABLE IF NOT EXISTS "Official"(
  "OfficialID" INTEGER NOT NULL,
  "CityID" CHAR(8) NOT NULL,
  "Name" VARCHAR NOT NULL,
  "Role" VARCHAR NOT NULL,
  "PreferredLanguage" CHAR(2) NOT NULL,
  "CountryCode" CHAR(2) NOT NULL,
  PRIMARY KEY("OfficialID"),
  CONSTRAINT "Language_Official"
    FOREIGN KEY ("PreferredLanguage") REFERENCES "Language" ("LanguageCode"),
  CONSTRAINT "Country_Official"
    FOREIGN KEY ("CountryCode") REFERENCES "Country" ("CountryCode")
);''')

print("Table Official succesfully created")

conn.execute('''CREATE TABLE IF NOT EXISTS "Driver"(
  "DriverID" INTEGER NOT NULL,
  "LicenseNumber" CHAR(18) NOT NULL,
  "Name" VARCHAR NOT NULL,
  "ClearanceLevel" INT NOT NULL,
  "FATLLevel" INT,
  "FATLQualificationDate" DATE,
  "STLVTLevel" INT,
  "STLVTQualificationDate" DATE,
  "STLVTCertifyingAuthority" VARCHAR,
  "PreferredLanguage" NCHAR NOT NULL,
  PRIMARY KEY("DriverID"),
  CONSTRAINT "Language_Driver"
    FOREIGN KEY ("PreferredLanguage") REFERENCES "Language" ("LanguageCode")
);''')

print("Table Driver succesfully created")

conn.execute('''CREATE TABLE IF NOT EXISTS "Location"(
  "LocationID" INTEGER NOT NULL,
  "Name" VARCHAR NOT NULL,
  "Address" VARCHAR NOT NULL,
  "Type" VARCHAR NOT NULL,
  PRIMARY KEY("LocationID")
);''')

print("Table Location succesfully created")

conn.execute('''CREATE TABLE IF NOT EXISTS "Booking"(
  "Reference" VARCHAR NOT NULL,
  "StartTime" DATETIME NOT NULL,
  "EndTime" DATETIME NOT NULL,
  "StartOdometer" INTEGER NOT NULL,
  "EndOdometer" INTEGER NOT NULL,
  "OfficialID" INTEGER NOT NULL,
  "DriverID" INTEGER NOT NULL,
  "VehicleID" INTEGER NOT NULL,
  "PickupLocationID" INTEGER NOT NULL,
  "DropOffLocationID" INTEGER NOT NULL,
  PRIMARY KEY("Reference"),
  CONSTRAINT "Vehicle_Booking"
    FOREIGN KEY ("VehicleID") REFERENCES "Vehicle" ("VehicleID"),
  CONSTRAINT "Driver_Booking"
    FOREIGN KEY ("DriverID") REFERENCES "Driver" ("DriverID"),
  CONSTRAINT "Official_Booking"
    FOREIGN KEY ("OfficialID") REFERENCES "Official" ("OfficialID"),
  CONSTRAINT "Location_Booking"
    FOREIGN KEY ("PickupLocationID") REFERENCES "Location" ("LocationID"),
  CONSTRAINT "Location_Booking"
    FOREIGN KEY ("DropOffLocationID") REFERENCES "Location" ("LocationID")
);''')

print("Table Booking succesfully created")

conn.execute('''CREATE TABLE IF NOT EXISTS "VehicleAction"(
  "ActionID" INTEGER NOT NULL,
  "VehicleID" INTEGER NOT NULL,
  "Type" CHARACTER NOT NULL,
  "Odometer" INT NOT NULL,
  "FinalCost" INT NOT NULL,
  "Description" VARCHAR NOT NULL,
  "Date" DATE NOT NULL,
  PRIMARY KEY("ActionID"),
  CONSTRAINT "Vehicle_VehicleAction"
    FOREIGN KEY ("VehicleID") REFERENCES "Vehicle" ("VehicleID")
);''')

print("Table VehicleAction succesfully created")

Databse connection successfully opened
Table Vehicle succesfully created
Table Language succesfully created
Table Country succesfully created
Table Official succesfully created
Table Driver succesfully created
Table Location succesfully created
Table Booking succesfully created
Table VehicleAction succesfully created

In [13]:
import sqlite3

conn = sqlite3.connect('ITS.db')
print("Databse connection successfully opened")

languages = [
    ("EN", "English"),
    ("FR", "French")
]

conn.executemany('''INSERT INTO "Language" ("LanguageCode", "LanguageName") VALUES (?, ?);''', languages)
conn.commit()

print("Table Language succesfully filled")

countries = [
    ("CA", "Canada", "EN"),
    ("US", "United States", "EN"),
    ("FR", "France", "FR")
]

conn.executemany('''INSERT INTO "Country" ("CountryCode", "CountryName", "MostFrequentlySpokenLanguage") VALUES (?, ?, ?);''', countries)
conn.commit()

print("Table Country succesfully filled")

officials = [
    ("INCHEONX", "Cyprien Singez", "Coach", "FR", "CA"),
    ("INCHEONX", "Clement Monteiro", "Judge", "EN", "US")
]

conn.executemany('''INSERT INTO "Official" ("CityID", "Name", "Role", "PreferredLanguage", "CountryCode") VALUES (?, ?, ?, ?, ?);''', officials)
conn.commit()

print("Table Official succesfully filled")

drivers = [
    ("0123456789ABCDEFGH", "Cyprien Singez", 3, "FR")
]

conn.executemany('''INSERT INTO "Driver" ("LicenseNumber", "Name", "ClearanceLevel", "PreferredLanguage") VALUES (?, ?, ?, ?);''', drivers)
conn.commit()

print("Table Driver succesfully filled")

locations = [
    ("Incheon Airport", "Incheon Airport", "Airport"),
    ("Seoul Airport", "Seoul Airport", "Airport"),
    ("Busan Airport", "Busan Airport", "Airport")
]

conn.executemany('''INSERT INTO "Location" ("Name", "Address", "Type") VALUES (?, ?, ?);''', locations)
conn.commit()

print("Table Location succesfully filled")

vehicles = [
    ("AA-123-AA", "Toyota", "Prius", "Blue", 10000, 5, True),
    ("BB-123-BB", "Tesla", "Model S", "Red", 10, 5, True),
    ("CC-123-CC", "Ford", "Focus", "Green", 100000, 4, True)
]

conn.executemany('''INSERT INTO "Vehicle" ("RegistrationID", "Manufacturer", "Model", "Color", "CurrentOdometer", "PassengerCapacity", "Avalaible") VALUES (?, ?, ?, ?, ?, ?, ?);''', vehicles)
conn.commit()

print("Table Vehicle succesfully filled")

vehicleActions = [
    ("R", 1, 10000, 1000, "Repair because of rear damage", "2023-01-01"),
    ("M", 2, 10, 1000, "Battery replacement", "2023-10-10")
]

conn.executemany('''INSERT INTO "VehicleAction" ("Type", "VehicleID", "Odometer", "FinalCost", "Description", "Date") VALUES (?, ?, ?, ?, ?, ?);''', vehicleActions)
conn.commit()

print("Table VehicleAction succesfully filled")

bookings = [
    ("123456789", "2023-01-01 10:00:00", "2023-01-01 11:00:00", 10000, 10010, 1, 1, 1, 1, 2),
    ("987654321", "2023-10-10 10:00:00", "2023-10-10 11:00:00", 10, 20, 2, 1, 2, 2, 3)
]

conn.executemany('''INSERT INTO "Booking" ("Reference", "StartTime", "EndTime", "StartOdometer", "EndOdometer", "OfficialID", "DriverID", "VehicleID", "PickupLocationID", "DropOffLocationID") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?);''', bookings)
conn.commit()

print("Table Booking succesfully filled")

Databse connection successfully opened
Table Language succesfully filled
Table Country succesfully filled
Table Official succesfully filled
Table Driver succesfully filled
Table Location succesfully filled
Table Vehicle succesfully filled
Table VehicleAction succesfully filled
Table Booking succesfully filled

In [16]:
import sqlite3

conn = sqlite3.connect('ITS.db')
print("Databse connection successfully opened")

tables = ["Vehicle", "Language", "Country", "Official", "Driver", "Location", "Booking", "VehicleAction"]

for table in tables:
    print(table + " rows:")
    print(conn.execute("SELECT * FROM " + table + ";").fetchall())
    print("")

Databse connection successfully opened
Vehicle rows:
[(1, 'AA-123-AA', 'Toyota', 'Prius', 'Blue', 10000, 5, 1), (2, 'BB-123-BB', 'Tesla', 'Model S', 'Red', 10, 5, 1), (3, 'CC-123-CC', 'Ford', 'Focus', 'Green', 100000, 4, 1)]

Language rows:
[('EN', 'English'), ('FR', 'French')]

Country rows:
[('CA', 'Canada', 'EN'), ('US', 'United States', 'EN'), ('FR', 'France', 'FR')]

Official rows:
[(1, 'INCHEONX', 'Cyprien Singez', 'Coach', 'FR', 'CA'), (2, 'INCHEONX', 'Clement Monteiro', 'Judge', 'EN', 'US')]

Driver rows:
[(1, '0123456789ABCDEFGH', 'Cyprien Singez', 3, None, None, None, None, None, 'FR')]

Location rows:
[(1, 'Incheon Airport', 'Incheon Airport', 'Airport'), (2, 'Seoul Airport', 'Seoul Airport', 'Airport'), (3, 'Busan Airport', 'Busan Airport', 'Airport')]

Booking rows:
[('123456789', '2023-01-01 10:00:00', '2023-01-01 11:00:00', 10000, 10010, 1, 1, 1, 1, 2), ('987654321', '2023-10-10 10:00:00', '2023-10-10 11:00:00', 10, 20, 2, 1, 2, 2, 3)]

VehicleAction rows:
[(1, 1, 'R', 10000, 1000, 'Repair because of rear damage', '2023-01-01'), (2, 2, 'M', 10, 1000, 'Battery replacement', '2023-10-10')]